<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Backend</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <% data.forEach(producto => { %>
        <div class="col mb-4">
            <div class="card me-auto ms-auto" style="width: 15rem; border-color: #664147; background-color: #EFF6EE;">
                <img src="<%= producto.foto %>" class="card-img-top img-fluid" alt="foto">
                <div class="card-body">
                    <h5 class="card-title"><%= producto.nombre %></h5>
                    <b class="card-text">$<%= producto.precio %></b>
                    <p class="card-text mb-0"><%= producto.descripcion %></p>
                    <i>Stock:<%= producto.stock %></i>
                    <span>Cód:<%= producto.codigo %></span>
                </div>
            </div>
        </div>
    <% }) %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>